[Unit]
Description=Twitter Moodlight Service
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
User=pi
GuessMainPID=no
StandardInput=null
WorkingDirectory=/home/pi/raspberrypi-twitter-mood-light/
ExecStart=/usr/bin/python /home/pi/raspberrypi-twitter-mood-light/stream.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
